* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

nav > img {
  height: 30px;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

section {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: min-content;
  margin: 0px 25px;
}

.art__main {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: stretch;
  gap: 20px;
}

.art__cont__div3 > img {
  width: 400px;
}

h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.8em;
  padding: 3rem 1rem 0rem 1rem;
  line-height: 45px;
}

p {
  text-align: center;
  font-family: "InterThin", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.6rem 3rem 1rem;
  line-height: 30px;
}
